# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv/

# Data files
*.csv
*.parquet
data/raw/
data/processed/

# Models
models/
*.pkl
*.joblib

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# MLflow
mlruns/
mlartifacts/
